<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Offices Add | Post App</title>
</head>
<body class="uk-background-muted">
<h1 align="center" style="margin: 30px">Добавление почтового офиса</h1>
<form action="#" th:action="@{/post/offices/add/result}" th:object="${office}" method="get">
    <label for="city">Город</label>
    <input type="text" th:field="*{city}" id="city">
    <label for="addr">Адрес</label>
    <input type="text" th:field="*{addr}" id="addr">
    <label for="index">Индекс</label>
    <input type="text" th:field="*{index}" id="index">
    <label for="phone">Контактный номер</label>
    <input type="text" th:field="*{phone}" id="phone">
    <input type="submit" value="Сохранить">
</form>
</body>
</html>

