<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Offices Edit | Post App</title>
    <link rel="stylesheet" href="..../static/css/uikit.min.css" th:href="@{/css/uikit.min.css}" />
    <link rel="shortcut icon" href="..../icon/favicon.ico" th:href="@{/icon/favicon.ico}" type="image/x-icon">
</head>
<body class="uk-background-muted">
<h1 align="center" style="margin: 30px">Редактирование почтового офиса</h1>
<form class="uk-container uk-container-small uk-fieldset" action="#" th:action="@{/post/offices/edit/result}" th:object="${office}" method="post">
    <input class="uk-input" type="text" th:field="*{id}" id="id" th:value="${office.id}" hidden>
    <label for="city">Город</label>
    <input class="uk-input" type="text" th:field="*{city}" id="city" th:value="${office.city}">
    <label for="addr">Адрес</label>
    <input class="uk-input" type="text" th:field="*{addr}" id="addr" th:value="${office.addr}">
    <label for="index">Индекс</label>
    <input class="uk-input" type="text" th:field="*{index}" id="index" th:value="${office.index}">
    <label for="phone">Контактный номер</label>
    <input class="uk-input" type="text" th:field="*{phone}" id="phone" th:value="${office.phone}">
    <input class="uk-button uk-button-primary uk-margin" type="submit" value="Сохранить">
</form>
</body>
</html>

