<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Package Types Add | Post App</title>
</head>
<body>
<h1>Добавление типа посылки</h1>
<form action="#" th:action="@{/post/packagetypes/add/result}" th:object="${packagetype}" method="post">
    <label for="name">Название</label>
    <input type="text" th:field="*{name}" id="name">
    <label for="cost">Стоимость</label>
    <input type="text" th:field="*{cost}" id="cost">
    <input type="submit" value="Сохранить">
</form>
</body>
</html>

