<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Package Types List | Post App</title>
</head>
<body>
<h1>Редактирование типа посылки</h1>
<form action="#" th:action="@{/post/packagetypes/edit/result}" th:object="${packagetype}" method="post">
    <input type="text" th:field="*{id}" id="id" th:value="${office.id}" hidden>
    <label for="name">Название</label>
    <input type="text" th:field="*{name}" id="name" th:value="${office.name}">
    <label for="cost">Стоимость</label>
    <input type="text" th:field="*{cost}" id="cost" th:value="${office.cost}">
    <input type="submit" value="Сохранить">
</form>
</body>
</html>

